.FormStudent {

    width: 50%;
    margin: 0.5rem auto;

}

.FieldsetStudent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: #69f0ae;
    border: 1px solid #69f0ae;
}
.Submit{
    width: 12%;
    height: 2.2rem;
    font-weight: bold;
    background-color: #f44336;
    color: #fff;
    font-family: "B Nazanin";
    margin-top: 0.5rem;
    cursor: pointer;
    border-radius: 1rem;
    border: 1px solid #fff;

}
.AddStudent{
    position: relative;
    height: 100%;
}
.Scroll{


}
.IconScroll{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    border-radius: 1rem;
    width: 5%;
    border: 1px solid #fff;
    background-color: #69f0ae;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    gap: 0.2rem;

}
.Icon{
    margin-top: 0.3rem;
}